## APPLIED DATA SCIENCE CAPSTONE ASSIGNMENT

<span style="color:red">IMPORTING NECESSARY PACKAGES</span>

In [2]:
import pandas as pd
import numpy as np

print('Packages imported successfully!')

Packages imported successfully!

<font color='red'>SCRAPING WIKIPEDIA TO GET THE REQUIRED TABLE</font>

##### Installing lxml

In [3]:

pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)
Note: you may need to restart the kernel to use updated packages.

##### Reading html to a panda DataFrame

In [29]:

can_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
can_df.head(5)

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<font color='red'>DATA PRE-PROCESSING</font>

##### Dropping 'Not assigned' Rows of Borough Column

In [30]:

can_df=can_df[can_df.Borough!='Not assigned']
can_df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

##### Checking the number of rows and columns remaining after dropping not assigned rows

In [31]:
print('The DataFrame now has',can_df.shape)

The DataFrame now has (103, 3)

<font color='red'>GETTING THE LATITUDE AND LONGITUDE COORDINATES OF EACH NEIGHBOHOOD </font>

##### Reading the CSV File from the link

In [32]:
coordinates_df = pd.read_csv('https://cocl.us/Geospatial_data')
coordinates_df.head(6)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476

##### Comparing the shape of the old dataframe with the new DataFrame

In [33]:
print('The can_df DataFrame has',can_df.shape)  
print('The coordinates_df has',coordinates_df.shape)
print('It can be seen that the two DataFrames have the same number of rows.')

The can_df DataFrame has (103, 3)
The coordinates_df has (103, 3)
It can be seen that the two DataFrames have the same number of rows.

##### Sorting the DataFrame and resetting the index

In [39]:
can_df_sorted = can_df.sort_values('Postal Code').reset_index()
print(can_df_sorted.shape)
can_df_sorted.head()

(103, 4)

   index Postal Code      Borough                            Neighborhood
0      9         M1B  Scarborough                          Malvern, Rouge
1     18         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2     27         M1E  Scarborough       Guildwood, Morningside, West Hill
3     36         M1G  Scarborough                                  Woburn
4     45         M1H  Scarborough                               Cedarbrae

In [37]:
##### Creating a new DataFrame for the Coordinates so that Borough column is droppped

In [38]:
coordinates_df = coordinates_df.loc[:,['Latitude','Longitude']]
coordinates_df.shape

(103, 2)


##### Combining the two DataFrames to create one

In [40]:
merged_df = pd.concat([can_df_sorted,coordinates_df],axis=1,sort=True)
merged_df.head()

,index,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,9,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,27,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,36,M1G,Scarborough,Woburn,43.770992,-79.216917
4,45,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

##### Dropping the index column

In [46]:
# merged_df.drop(['index'],axis=1,inplace=True)
print(merged_df.shape)
merged_df.head(10)

(103, 5)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

In [ ]:
<font color='red'>Week 3 Assignment</font>