# Week 3 Assignment

## 1) Creating the database from wikipedia table

### a) first, the necessary modules are imported

In [2]:
import pandas as pd
import numpy as np
# !conda install -c conda-forge folium
# import folium
# import sklearn
# import matplotlib as mp
# import matplotlib.pyplot as plt
# import json
# !conda install -c conda-forge geopy
# from geopy.geocoders import Nominatim
# import requests
# from pandas.io.json import json_normalize
# import matplotlib.colors as colors
# from sklearn.cluster import KMeans

print('Done!')

Done!

### b) Now, the wikipedia table is imported

In [10]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
canada_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
canada_df.head(10)

  Postal Code           Borough                                 Neighborhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

### c) There are certain 'not assigned' values under the column 'Borough', they are dropped, since they will be of no use.

In [4]:
canada_df=canada_df[canada_df.Borough!='Not assigned']
canada_df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### c) 'Not assigned' values under the column 'Neighborhood' are searched for, but none is found.

In [5]:
"Not assigned" in canada_df['Neighborhood']

False

### d) Finally, the dataframe has 103 rows and 3 columns.

In [6]:
canada_df.shape

(103, 3)

## 2) Adding coordinates to the dataframe

### a) From the link, a .csv file containing the coordinates for each Postal Code is imported

In [7]:
coordinates_df = pd.read_csv('http://cocl.us/Geospatial_data')
coordinates_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### b) The size of the new dataframe is checked, it has the same number of rows as the dataframe imported from Wikipedia (103), also the values of the dataframe are organized ascendantly respect to the Postal Codes

In [8]:
coordinates_df.sort_values('Postal Code').shape

(103, 3)

### c) To prepare for the merging of the two dataframes, also data of the dataframe imported from Wikipedia is organized, additionally, the index is reset.

In [11]:
canada_df = canada_df.sort_values('Postal Code').reset_index()
canada_df.head()

   index Postal Code      Borough                            Neighborhood
0      9         M1B  Scarborough                          Malvern, Rouge
1     18         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2     27         M1E  Scarborough       Guildwood, Morningside, West Hill
3     36         M1G  Scarborough                                  Woburn
4     45         M1H  Scarborough                               Cedarbrae

### d) From the dataframe containing the coordinates, 'Latitude' AND 'Longitude' are kept for the merging.

In [51]:
coordinates_df = coordinates_df.loc[:,['Latitude','Longitude']]
coordinates_df.shape

(103, 2)

### e) The merging of both dataframes takes place.

In [58]:
def_df = pd.concat([canada_df,coordinates_df],axis=1,sort=True)
def_df.head()

,level_0,index,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,0,9,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,1,18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,2,27,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,36,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,45,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### f) The

In [59]:
def_df.drop(['level_0','index'],axis=1,inplace=True)
def_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [60]:
def_df.shape

(103, 5)